@using System.Net
@model List<CoreLayer.DTOs.Comment.CommentDto?>

<div class="tab-pane" id="three" role="tabpanel" aria-labelledby="three-tab">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post">
            <div class="row border-bottom pb-4 g-3">

                <div class="col-lg-6">

                    <div class="product__comment__box">

                        <div class="row">

                            <div class="col-12">

                                <div class="mb-3">

                                    <label for="exampleFormControlTextarea1"
                                           class="form-label product__comment__points">
                                        توضیحات
                                    </label>
                                    <textarea class="form-control product__comment__textarea"
                                              id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>

                                <a asp-page="Comment"
                                   class="special__offer__splide__contect__buy__link text-white fw-bold py-2 px-3">
                                    ثبت دیدگاه
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </form>
    }
    <div class="row">
        <div class="col-12">

            <div class="product__comment__box product__user__comments mt-4">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <div class="row g-4">

                            @*<div class="col-12 col-md-4 col-lg-3">

                    <div class="row g-2">

                    <div class="col-12">

                    <div class="row">
                    <div class="col-6">
                    <p class="product__comment__des m-0">
                    امتیاز کاربر :
                    </p>
                    </div>


                    <div class="col-6 align-items-center d-flex">
                    <img src="images/icons/product-ico/four-start.svg" class="ms-auto"
                    alt="">
                    </div>
                    </div>

                    </div>

                    <div class="col-12">

                    <div class="row g-1">

                    <div class="col-12">
                    <span style="font-size: 10px; color: #9f9f9f; ">
                    رضایت از قیمت کالا
                    </span>
                    </div>

                    <div class="col-12 align-items-center d-flex">

                    <div class="product__comment__box__range rounded-3">

                    <div class="product__comment__box__range__line position-relative rounded-3"
                    style="width: 60%;"></div>

                    </div>

                    </div>

                    </div>

                    </div>

                    <div class="col-12">

                    <div class="row g-1">

                    <div class="col-12">
                    <span style="font-size: 10px; color: #9f9f9f; ">
                    رضایت از قیمت کالا
                    </span>
                    </div>

                    <div class="col-12 align-items-center d-flex">

                    <div class="product__comment__box__range rounded-3">

                    <div class="product__comment__box__range__line position-relative rounded-3"
                    style="width: 60%;"></div>

                    </div>

                    </div>

                    </div>

                    </div>

                    <div class="col-12">

                    <div class="row g-1">

                    <div class="col-12">
                    <span style="font-size: 10px; color: #9f9f9f; ">
                    رضایت از قیمت کالا
                    </span>
                    </div>

                    <div class="col-12 align-items-center d-flex">

                    <div class="product__comment__box__range rounded-3">

                    <div class="product__comment__box__range__line position-relative rounded-3"
                    style="width: 60%;"></div>

                    </div>

                    </div>

                    </div>

                    </div>

                    <div class="col-12">

                    <div class="row g-1">

                    <div class="col-12">
                    <span style="font-size: 10px; color: #9f9f9f; ">
                    رضایت از قیمت کالا
                    </span>
                    </div>

                    <div class="col-12 align-items-center d-flex">

                    <div class="product__comment__box__range rounded-3">

                    <div class="product__comment__box__range__line position-relative rounded-3"
                    style="width: 60%;"></div>

                    </div>

                    </div>

                    </div>

                    </div>

                    </div>

                    </div>*@


                            <div class="col-12 col-md-8 col-lg-9 border-start border-box">

                                <div class="row border-bottom pb-2 g-2">

                                    <div class="col-lg-8 align-items-center d-flex">

                                        <p class="product__comment__des m-0 float-start me-2"
                                           style="font-size: 13px;">
                                            نظر <span class="fw-bold">@item.UserFullName</span> درباره محصول:
                                        </p>

                                        @*<div class="points__input__values strength__points__values px-2 py-1 float-start">
                                از خریدم راضی هستم
                                </div>*@

                                    </div>

                                    <div class="col-lg-4 align-items-center d-flex">
                                        <div class="product__comment__box__txt ms-auto">
                                            در تاریخ: @item.DateTime
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-12">

                                        <p class="product__comment__des mb-0 pt-2">
                                            @item.Text
                                        </p>

                                    </div>
                                </div>

                                @*<div class="row row-cols-auto mt-3 g-2">

                        <div class="col me-2">

                        <div style="color: #41A219; font-size: 12px;" class="me-2">
                        نقاط قوت
                        </div>

                        <div class="flex-column nav">

                        <div class="product__comment__points strength__points"
                        style="display: block ruby;">
                        کیفیت ساخت بالا
                        </div>

                        <div class="product__comment__points strength__points"
                        style="display: block ruby;">
                        کیفیت ساخت بالا
                        </div>

                        <div class="product__comment__points strength__points"
                        style="display: block ruby;">
                        کیفیت ساخت بالا
                        </div>

                        </div>

                        </div>


                        <div class="col me-2">

                        <div style="color: #E23B3B; font-size: 12px;" class="me-2">
                        نقاط ضعف
                        </div>

                        <div class="flex-column nav">

                        <div class="product__comment__points weak__points"
                        style="display: block ruby;">
                        کیفیت ساخت پایین
                        </div>

                        <div class="product__comment__points weak__points"
                        style="display: block ruby;">
                        کیفیت ساخت پایین
                        </div>

                        <div class="product__comment__points weak__points"
                        style="display: block ruby;">
                        کیفیت ساخت پایین
                        </div>

                        </div>

                        </div>

                        </div>
                        *@



                            </div>

                        </div>
                    }
                }
            </div>

        </div>
    </div>

</div>