<footer class="mb-4  mb-sm-0">

    <div class="container-fluid px-0 footer__bg">

        <div class="container">


            <div class="footer position-relative pt-4">

                <div class="footer__before w-100 position-absolute top-0"></div>

                <div class="footer__logo position-absolute align-items-center d-grid">

                    <div class="row">

                        <div class="col-12 ps-0 text-center">

                            <img src="images/logo-imgs/logo.png" alt="" srcset="">

                        </div>

                        <div class="col-12 ps-0">

                            <p class="header__top__logo__text">مرکز تخصصی لوازم دیجیتال </p>

                        </div>

                    </div>

                </div>


                <div class="row">

                    <div class="col-6 d-none d-lg-block">

                        <nav class="nav row-cols-auto">
                            <a class="nav-link footer__nav__link fw-bold col px-xl-4" href="index.html">
                                صفحه اصلی
                            </a>
                            <a class="nav-link footer__nav__link fw-bold col px-xl-4" href="shop.html">
                                فروشگاه
                            </a>
                            <a class="nav-link footer__nav__link fw-bold col px-xl-4" href="#">
                                درباره ما
                            </a>
                            <a class="nav-link footer__nav__link fw-bold col px-xl-4" href="contact.html">
                                تماس با ما
                            </a>
                        </nav>

                    </div>


                    <div class="col-6 d-none d-lg-block">

                        <nav class="nav float-end row-cols-auto">
                            <a class="nav-link footer__nav__link fw-bold col px-xl-4" href="index.html">
                                صفحه اصلی
                            </a>
                            <a class="nav-link footer__nav__link fw-bold col px-xl-4" href="shop.html">
                                فروشگاه
                            </a>
                            <a class="nav-link footer__nav__link fw-bold col px-xl-4" href="#">
                                درباره ما
                            </a>
                            <a class="nav-link footer__nav__link fw-bold col px-xl-4" href="contact.html">
                                تماس با ما
                            </a>
                        </nav>

                    </div>

                </div>


                <div class="row g-2 my-5">

                    <div class="col-md-12 col-lg-5 col-xl-6">

                        <div class="row">

                            <div class="col-12 col-lg-1">

                                <h4 class="footer__title">
                                    درباره ی <span>دینگ</span>
                                </h4>

                            </div>

                            <div class="col-12 col-lg-11 ps-lg-0">
                                <p class="footer__text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                    است، چاپگرها ولورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                    و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                    باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می
                                    طلبد، تا با نرم را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
                                    فارسی ایجاد کرد.
                                </p>
                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-4 col-lg-2">

                        <nav class="nav flex-md-column row-cols-auto footer__socials px-lg-4">
                            <a class="nav-link footer__social col mb-2 mx-1 mx-md-0" href="#">
                                <img src="images/icons/instagram-sm.svg" class="me-2" alt="" srcset="">
                                اینستاگرام
                            </a>
                            <a class="nav-link footer__social col mb-2 mx-1 mx-md-0" href="#">
                                <img src="images/icons/linkedin-sm.svg" class="me-2" alt="">
                                لینکدین
                            </a>
                            <a class="nav-link footer__social col mb-2 mx-1 mx-md-0" href="#">
                                <img src="images/icons/twitter-sm.svg" class="me-2" alt="">
                                توییتر
                            </a>
                            <a class="nav-link footer__social col mb-2 mx-1 mx-md-0" href="#">
                                <img src="images/icons/youtube-sm.svg" class="me-2" alt="">
                                یوتیوب
                            </a>
                        </nav>

                    </div>

                    <div class="col-12 col-md-8 col-lg-5 col-xl-4 mt-4 mt-md-0">

                        <div class="row g-3 justify-content-center justify-content-md-end">

                            <div class="col-4 px-0">

                                <div class="footer__enamad mx-auto ms-sm-auto">
                                    <a href="#" class="d-block text-center">
                                        <img src="images/enamad/enemad2.png" class="footer__enamad mx-auto ms-sm-auto" alt="">
                                    </a>
                                </div>

                            </div>


                            <div class="col-4 px-0">

                                <div class="footer__enamad mx-auto ms-sm-auto">
                                    <a href="#" class="d-block text-center">
                                        <img src="images/enamad/enemad2.png" class="footer__enamad mx-auto ms-sm-auto" alt="">
                                    </a>
                                </div>

                            </div>


                            <div class="col-4 px-0">


                                <div class="footer__enamad mx-auto ms-sm-auto">
                                    <a href="#" class="d-block text-center">
                                        <img src="images/enamad/enemad.png" class="footer__enamad mx-auto ms-sm-auto" alt="">
                                    </a>
                                </div>


                            </div>

                        </div>

                    </div>

                </div>


                <div class="footer__info px-3 py-2">

                    <div class="row g-2">

                        <div class="col-12 col-lg-3 col-xl-2 align-items-center d-flex">
                            <h6 class="fw-bold text-white mb-0">
                                مسیر های ارتباطی :
                            </h6>
                        </div>


                        <div class="col-12 col-lg-9 col-xl-10">

                            <nav class="nav float-end row-cols-auto">
                                <a class="nav-link footer__nav__link col px-4" href="contact.html">
                                    <img src="images/icons/Message.svg" class="me-2" alt="">
                                    example@gmail.com
                                </a>
                                <a class="nav-link footer__nav__link col px-4" href="contact.html">
                                    <img src="images/icons/footer-calling.svg" class="me-2" alt="">
                                    0910 000 4485
                                </a>
                                <a class="nav-link footer__nav__link col px-4" href="contact.html">
                                    <img src="images/icons/Location.svg" class="me-2" alt="">
                                    تهران، خیابان انقلاب، پلاک 1
                                </a>
                            </nav>

                        </div>


                    </div>

                </div>


                <p class="footer_copy__right m-0 py-3">
                    .کلیه حقوق این سایت متعلق به دینگ می باشد
                </p>


            </div>


        </div>

    </div>

</footer>
