@page
@model BatteryShop_Web.Pages.Auth.ChangePasswordModel
@{
    Layout = "Shared/_AuthLayout";
    ViewData["Title"] = "رمز عبور جدید";
}
<div class="login_wrapper">
    <div class="login_box">
        <h3 style="margin: 10px auto; color: #FF574D">رمز جدید</h3>


        <div class="login_form">
            <div class="login_form_inner">

                <form method="post">
                    <div class="form-group">
                        <input asp-for="NewPassword" type="text" name="newpassword" class="input-text" placeholder="رمز عبور جدید">
                    </div>

                    <div class="form-group">
                        <input asp-for="RepeatNewPassword" type="text" name="RepeatNewPassword" class="input-text" placeholder="تکرار رمز عبور جدید">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn-md btn-theme btn-block">ورود<i class="fa fa-arrow-left"></i></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>